@import './normalize.css';

body {
  height: 100%;
  background-image: url('./assets/image/sunset.jpg');
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.fetch-form {
  margin-top: 15px;
  align-items: center;
}

.typography-info {
  padding-bottom: 10px;
}
.typography-info:last-child {
  padding-bottom: 0;
}

.icon-url-weathe {
  max-width: 100px;
  height: 100px;
}

.suny-shadow {
  box-shadow: 5px 5px 43px -4px rgba(255, 253, 66, 0.98) !important;
}

.winter-shadow {
  box-shadow: 5px 5px 43px -4px #299dff !important;
}
.midle-suny-shadow {
  box-shadow: 5px 5px 45px 7px #c6ff61 !important;
}

.custom-alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  width: max-content;
  animation-name: showCustomAlert;
  animation-duration: 0.5s;
}

@keyframes showCustomAlert {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

.card-container {
  max-width: 500px;
  min-height: 500px;
  color: white !important;
  margin: 50px auto;
  background: none !important;
  position: relative;
}
